* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
#logo{
  mix-blend-mode: multiply;
  filter: brightness(1) contrast(1);
}

.container-1 {
  background:rgba(1, 52, 81);
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
}
#container-1 {
  background:rgba(1, 52, 81);
  width: 100%;
  height: auto;
  margin-top: 0px;
}
#welcome-text {
  font-size: 60px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 20px;
  margin-left: 50px;
}
#sub-title {
  color: aliceblue;
  background: rgb(246, 138, 30);
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 65px;
  margin-top: 20px;
}

#adm-open-txt {
  color: aliceblue;
  margin-left: 65px;
  margin-top: 40px;
  font-size: 25px;
}
#form-1 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: aliceblue;
  border: 1px solid white;
  width: 600px;
  height: 200px;
  background: rgba(29, 59, 112);
  margin-left: 300px;
}
#srch-txt {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 20px;
}
#srch-form {
  margin-top: 10px;
  height: 30px;
  font-size: larger;
  width: 500px;
}
form {
  margin-left: 5px;
}
.btns {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
button {
  background: rgb(17, 17, 129);
  color: aliceblue;
  border: 1px solid white;
  height: 30px;
  width: 100px;
  border-radius: 5px;
}
button:hover {
  background: orangered;
}
.bg-img {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url("https://admin.umt.edu.pk/Media/Site/UMT/FileManager/2020/newwebsite/Lahore-Campus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5; 
  z-index: 1;
}

.new-sp-text {
  font-size: 50px;
  color: rgb(255, 252, 252);
  opacity: 1;
  position: relative;
  z-index: 2;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 50px;
  
}
.card-1{
 
 margin-left: 50px;
  position: relative;
  z-index: 2;
  display: flex;
  gap: 10px;
  background: #fff;
  width: 900px;
  height: 380px;
}
#container-3{
  display: flex;
}
#card-1-img{
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
  transition: transform 1s ease-in;
  
}
#card-1-img:hover{
  transform: scale(0.8);
 
  transition: transform 1s ease-out;
  
}
#card-1-img-2{
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
  transition: transform 1s ease-in;
}
#card-1-img-2:hover{
  transform: scale(0.8);
 
  transition: transform 1s ease-out;
  
}
.card-1-txt{
  margin-top: 10px;
  margin-left: 70px;
  font-size: larger;
}
.event-card{
  background: rgb(246, 138, 30);
  width: 400px;
  z-index: 2;
}